<footer id="footer" class="w-full bg-background text-black border-t border-gray-200 px-6 py-8">
    <div
        class="max-w-4xl mx-auto flex flex-col sm:flex-row items-center justify-between text-sm text-gray-600 font-secondary space-y-4 sm:space-y-0">

        <div class="text-center sm:text-left leading-tight">
            <p>&copy; <span>
                    <script>document.write((new Date).getFullYear())</script>
                </span> Numelon - All Rights Reserved</p>
            <p>Numelon Ltd. is a company incorporated in England and Wales under <a
                    href="https://find-and-update.company-information.service.gov.uk/company/15801378">No.
                    15801378.</a></p>
            <br>
            <p class="mt-1">❤️ Made in the United Kingdom</p>
        </div>

        <div class="flex border border-gray-300 overflow-hidden sm:ml-auto">
            <a href="https://discord.gg/Hr3GYj7nsc" target="_blank"
                class="w-10 h-10 flex items-center justify-center border-r border-gray-300 hover:bg-gray-100 transition">
                <i class="fab fa-discord"></i>
            </a>
            <a href="https://github.com/numelon-oss" target="_blank"
                class="w-10 h-10 flex items-center justify-center border-r border-gray-300 hover:bg-gray-100 transition">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://mastodon.social/@Numelon"
                class="w-10 h-10 flex items-center justify-center border-r border-gray-300 hover:bg-gray-100 transition">
                <i class="fab fa-mastodon"></i>
            </a>
            <a href="mailto:support@numelon.com"
                class="w-10 h-10 flex items-center justify-center border-r border-gray-300 hover:bg-gray-100 transition">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="https://status.numelon.com"
                class="w-10 h-10 flex items-center justify-center border-gray-300 hover:bg-gray-100 transition">
                <i class="fas fa-signal"></i>
            </a>
        </div>
    </div>
</footer>