<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="icon" href="branding/icon-colour.square.png" />

    <meta name="theme-color" content="#24100a">

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Manrope:wght@400;600;800&display=swap"
          rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./styles/tailwind.config.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" defer></script>
</head>

<body>
    <!-- this will get inserted into the head -->
    <!-- <Analytics></Analytics> -->
    <!-- TODO: allow components inside of components -->
</body>

</html>