<!DOCTYPE html>
<html>

<head>
    <!-- TODO: dynamic preconnect and dns-prefetch -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://wcdn.numelon.com">

    <!-- TODO: create an icon component, similar to the opengraph one -->
    <link rel="icon" href="branding/icon-colour.square.png" />

    <meta name="theme-color" content="#24100a">

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Manrope:wght@400;600;800&display=swap"
        rel="stylesheet">

    <!-- sklair:ordering-barrier treat-as=script -->
    <script src="https://wcdn.numelon.com/sklair-shared/tailwindcss-3.4.17.js"></script>
    <script src="./styles/tailwind.config.js"></script>

    <script src="https://wcdn.numelon.com/sklair-shared/font-awesome-6.5.2-cloudflare-cdnjs.min.js" defer></script>
    <!-- sklair:ordering-barrier-end -->
</head>

<body>
    <!-- this will get inserted into the head -->
    <!-- <Analytics></Analytics> -->
    <!-- TODO: allow components inside of components -->
</body>

</html>